
body {
  background-color: #423c3b;
  font-family: garamond;
}
h1 {
  font-size: 1.75em;
  color: white;
  padding: 0.5em 2em;
  margin-bottom: 0.1em;
}

.logs {
  font-size: 1.25em;
  color: white;
  padding: 0.1em 2em;
  margin: 0;
}

#createGame {
  font-size: 1em;
  display: block;
  margin: 0.2em auto;
  width: 17em;
}

#prince {
  font-size: 1em;
  border: 1px;
  border-radius: 5%;
  padding: 0.2em;
}

#createGame button {
  font-size: 1em;
  padding: 0.2em;
  background-color: #410952;
  color: white;
  border-color: #560c6d;

}

#board {
  width: 100%;
  min-height: 700px;
  padding: 0.5em auto;
  background-image: url('PrinceDragon copy.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#board button {
  font-size: 1em;
  padding: 0.4em;
  display: block;
  width: 5em;
  margin-left: 10em;
  margin-top: 0;
  background-color: #c2003c;
  border-color: #cc1a4f;
}
